arrow==0.7.0
beautifulsoup4==4.4.1
certifi==2017.4.17
chardet==3.0.4
click==6.7
disqus==0.0.4
Django==1.8.9
django-debug-toolbar==1.8
django-disqus==0.5
django-emoticons==1.1.2
django-forms-bootstrap==3.0.1
django-paypal==0.2.7
django-tinymce==2.2.0
Flask==0.12.1
Flask-SQLAlchemy==2.2
funcsigs==1.0.2
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
pbr==3.1.1
Pillow==3.1.1
pymongo==3.4.0
python-dateutil==2.4.2
requests==2.18.1
six==1.10.0
SQLAlchemy==1.1.9
sqlparse==0.2.3
stripe==1.62.0
urllib3==1.21.1
virtualenv==15.1.0
Werkzeug==0.12.1
-r requirements/dev.txt
